html, body {
    height: 100%;
    margin:0;
}

#root{
    height: 100%;
}
.route{
    display: block;
    text-decoration: none;
}
.activeRoute {
    background: #ddd;
}

@font-face {
    font-family: 'byekan';
    src: url('./fonts/Yekan.ttf') format('woff'),
       url('./fonts/Yekan.woff')  format('truetype');
    font-weight: normal;
    font-style: normal;
  }